.tete
  display: none
.logo
  height: 95%
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: -999
  transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
  opacity: 1
.logo-min
  height: 95%
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: -999
  transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
  opacity: 0.3
svg
  cursor: crosshair
  z-index: -999
.pulse
  animation: flash 1.5s .5s